<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<div class="container event-show">
   
    <h1><%= evento.nome %> </h1>
    <img src="/img/video-plenaria.png" alt="">

</div>
    


<%- include('./partials/footer'); %>