<%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>

 <section class="conteudo">

<h1 class="quem-somos">Quem Somos</h1>

    <main class="text-1">
        <div class="container">
            <div class="row">
                <div class="text-justify">
                    <p></p>   
                    
                    <p></p>  
                </div>   
            </div>
        </div>
    </main>
</section>

<br><br><br><br><br><br><br><br><br><br><br>
</body>
<%- include('./partials/footer'); %>